@import "./base/reset";
@import "./base/typography";
@import "./components/buttons";
@import "./components/carousel";
@import "./components/cover";
@import "./components/dropdown";
@import "./layout/footer";
@import "./layout/forms";
@import "./layout/grid";
@import "./layout/header";
@import "./layout/navigation";
@import "./layout/sidebar";
@import "./pages/contact";
@import "./pages/home";
@import "./themes/admin";
@import "./themes/theme";
@import "./utils/mixins";
@import "./utils/variables";
@import "./vendors/bootstrap";

body {
  background-color: $lighter_color;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.darkerSection {
  @include flexColumnCenter();
  background-color: $light_color;
}

.mainSection {
  @include flexColumnStretch();
  padding: 0 20px 0 20px;
  .lighter {
    background-color: $white_color;
    padding: 0 20px;
    margin: 0 -20px;
  }
}
