@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColumnStretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@mixin containImage {
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin blurShadow {
  box-shadow: 0px 10px 20px #c9c9c9;
}

$white_color: #ffffff;
$lighter_color: #f6f6f6;
$light_color: #eaeaea;
$neutral_color: #888;
$dark_color: #353535;
$darker_color: #1e1e1e;
$black_color: #000000;
$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;

body {
  background-color: $lighter_color;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  @include flexColumnCenter();
  @include blurShadow();
  background-color: $white_color;
}

.darkerSection {
  @include flexColumnCenter();
  background-color: $light_color;
}

.mainSection {
  @include flexColumnStretch();
  padding: 0 20px 0 20px;
  .lighter {
    background-color: $white_color;
    padding: 0 20px;
    margin: 0 -20px;
  }
}

.footer {
  color: $white_color;
  background-color: $dark_color;
  padding: 20px;
  .footerLogo {
    font-family: "Shrikhand", sans-serif;
    margin: 0;
  }
}

button,
li,
.restaurants {
  @include blurShadow();
}
