:root {
  font-family: "Roboto", sans-serif;
}

.logo {
  color: black;
  font-family: "Shrikhand", sans-serif;
  margin: 0;
}
.logo--footer {
  color: #ffffff;
}
.logo--animation {
  color: #313131;
  font-size: 45px;
  -webkit-animation: colorchange 1.5s infinite alternate ease;
}
@-webkit-keyframes colorchange {
  0% {
    color: #9356dc;
  }
  100% {
    color: #ff79da;
  }
}

.button {
  display: flex;
  color: white;
  margin: auto;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 15px;
  border: 0px;
  border-radius: 100px;
  box-shadow: 0px 10px 15px #c9c9c9;
}

.link {
  text-decoration: none !important;
}

.Card {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  max-width: 600px;
  background-color: white;
  border-radius: 1em;
  position: relative;
  box-shadow: 0px 10px 15px #c9c9c9;
}
.Card__tag {
  position: absolute;
  top: 5%;
  right: 3%;
  border-radius: 0.1em;
  color: #018766;
  background-color: #99e2d0;
  width: fit-content;
  padding: 6px 14px;
}
.Card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.Card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}
.Card__desc {
  display: flex;
  flex-direction: column;
  color: black;
}
.Card__desc__title {
  margin: 10px 0;
  text-decoration: none;
}
.Card__desc__subtitle {
  margin: 0 0 13px 0;
}
.Card__button {
  background: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(44, 44, 44, 0.135) 0px 0px 10px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  width: 100%;
  margin: auto;
  transition: 1s;
  overflow: hidden;
}
.container__text {
  flex-grow: 1;
  padding-left: 30px;
}
.container__desc {
  text-overflow: ellipsis;
}
.container__price {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-right: 10px;
}
.container__check {
  width: 0;
  overflow: hidden;
  background-color: rgb(192, 255, 234);
  transition: 0.5s;
}
.container__blob {
  width: 100px;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container__icon {
  color: white;
  transition: 0.8s ease;
  transition-delay: 0.5s;
  font-size: 35px;
}
.container:hover .container__check, .container.is--active .container__check {
  width: 100px;
}
.container:hover .container__icon, .container.is--active .container__icon {
  transition-delay: 0s;
  transform: rotate(360deg);
}

.likebutton {
  border: 0;
  position: relative;
  background-color: transparent;
}
.likebutton__icon {
  font-size: 30px;
  color: black;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.2s ease;
}
.likebutton__icon--page {
  padding-right: 20px;
}
.likebutton:hover .likebutton__icon {
  color: transparent;
  transform: scale(1);
}
.likebutton__iconBorder {
  position: absolute;
}
.likebutton__iconFull {
  font-weight: 900 !important;
  transform: scale(0);
  transform-origin: bottom;
}

.body {
  margin: 0px;
  background-color: #f6f6f6;
}

.header {
  padding: 10px 0px 10px 0px;
  z-index: 99;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 15px #c9c9c9;
}
.header--mode-dark {
  background-color: black;
}
.header--mode-dark .header__logo {
  color: white;
}
.Section {
  padding-top: 30px;
}
.Section--lighter {
  background-color: white;
  padding: 20px;
}
.Section--transparent {
  padding: 20px;
}
.Section__darker {
  background-color: #eaeaea;
  padding: 0 0 1px 0;
}
.Section__darker--page {
  padding: 20px;
}
.Section__darker__text {
  text-align: center;
}
.Section__darker__title {
  font-weight: 100;
  text-decoration: underline #99e2d0;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 7px;
  margin-bottom: 50px !important;
  width: 90%;
  max-width: 700px;
  margin: auto;
}
.Section__darker__list {
  padding: 0;
  width: 90%;
  max-width: 700px;
  margin: auto;
}
.Section__darker__list__case {
  list-style: none;
  margin-bottom: 25px;
}
.Section__darker__list__case__desc {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.Section__darker__list__case__desc__text {
  display: flex;
  flex-direction: column;
}
.Section__darker__list__case__validation {
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  width: 80px;
  justify-content: center;
}
.Section__darker__list__case__validation__button {
  background: none;
  border: none;
  color: #ffffff;
}
.Section__darker__list__case__validation__button .fa-circle-check {
  font-size: x-large;
}
.Section__darker__list__case__link {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
.Section__title {
  margin: 0;
}
.Section__headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Section__icon--colorized {
  color: #9356dc;
}
.Section__ul {
  list-style: none;
  padding: 20px 0;
}
.Section__ul__list {
  display: flex;
  max-width: 500px;
  margin: auto !important;
  margin-bottom: 25px !important;
  align-items: baseline;
  gap: 10px;
  padding: 20px 10px;
  counter-increment: custom;
  background-color: #eaeaea;
  border-radius: 20px;
  margin: 20px 0px;
  box-shadow: 0px 10px 15px #c9c9c9;
}
.Section__ul__list:before {
  position: relative;
  margin-left: -20px;
  padding: 4px 10px;
  border-radius: 20px;
  color: white;
  background-color: #9356dc;
  content: counter(custom) "";
}
.Section__ul__list--purple {
  background-color: #f5edff;
}

.footer {
  color: #ffffff;
  background-color: #353535;
  padding: 20px;
}
.footer__icon {
  width: 20px;
  margin-right: 10px;
}
.footer--mode-dark {
  background-color: black;
}
.footer--mode-dark .footer__logo {
  color: white;
}
.banner {
  margin: 0;
  width: 100%;
  position: relative;
}
.banner__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.banner__desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #eaeaea;
  border-radius: 50px 50px 0 0;
}
.banner__desc__title {
  color: rgb(0, 0, 0);
  font-family: "Shrikhand", sans-serif;
  letter-spacing: 2px;
  padding-left: 20px;
}

.fadein {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation-name: fade;
  animation-delay: 3s;
  animation-duration: 0.3s;
  animation-direction: reverse;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.spinLogo {
  margin-top: 40px;
  width: 80px;
  height: 80px;
  animation: spin 0.7s infinite ease-in;
}
.spinLogo__1layer {
  fill: #ff79da;
}
.spinLogo__2layer {
  fill: #f6f6f6;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.fadeout {
  opacity: 0;
  animation: fadeout ease-in;
  animation: fadeOutDown ease-out;
  animation-iteration-count: 1;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.fadeout--1 {
  animation-delay: 0.3s;
}
.fadeout--2 {
  animation-delay: 0.5s;
}
.fadeout--3 {
  animation-delay: 0.7s;
}
.fadeout--4 {
  animation-delay: 0.9s;
}

@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

/*# sourceMappingURL=style.css.map */
