.button {
  font-family: "Roboto";
  display: flex;
  color: white;
  margin: auto;
  background: linear-gradient($secondaryColor, $primaryColor);
  padding: 15px;
  border: 0px;
  border-radius: 100px;
  @include blurShadow();
  transition: 0.5s;

  &:hover {
    background: linear-gradient($secondaryColorLighten, $primaryColorLighten);
    @include blurStrongShadow();
  }
}
