.button {
  display: flex;
  color: white;
  margin: auto;
  background: linear-gradient($secondaryColor, $primaryColor);
  padding: 15px;
  border: 0px;
  border-radius: 100px;
  @include blurShadow();
}
