.Section {
  padding-top: 30px;
  &__lighter {
    background-color: $white_color;
    padding: 20px;
  }
  &__transparent {
    padding: 20px;
  }
  &__darker {
    background-color: $light_color;
    text-align: center;
    padding: 0 0 1px 0;
  }
  &__title {
    margin: 0;
  }
  &__headline {
    @include flexColumnCenter;
    text-align: center;
  }
  &__ul {
    list-style: none;
    padding: 0 20px;
    &__list {
      counter-increment: custom;
      background-color: $light_color;
      border-radius: 20px;
      margin: 20px 0px;
      padding: 20px 0;
      &:before {
        margin-right: 70px;
        padding: 4px 10px;
        border-radius: 20px;
        color: white;
        background-color: #9356dc;
        content: counter(custom) "";
      }
    }
  }
}
