.footer {
  color: $white_color;
  background-color: $dark_color;
  padding: 20px;

  &__icon {
    width: 20px;
    margin-right: 10px;
  }
  &--mode-dark {
    background-color: black;
  }
  &--mode-dark &__logo {
    color: white;
  }
  &--mode-light {
  }
}
