.header {
  padding: 10px 0px 10px 0px;
  z-index: 99;
  width: 100%;
  background-color: $white_color;
  @include flexColumnCenter();
  @include blurShadow();

  &--mode-dark {
    background-color: black;
  }
  &--mode-dark &__logo {
    color: white;
  }
  &--mode-light {
  }
}
