.header {
  position: relative;
  padding: 10px 0px 10px 0px;
  z-index: 5;
  width: 100%;
  background-color: $white_color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include blurShadow();

  &--mode-dark {
    background-color: black;
  }
  &--mode-dark &__logo {
    color: white;
  }
  .fa-arrow-left {
    margin-left: 30px;
    scale: 1.8;
  }
}
