.logo {
  color: black;
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  &--footer {
    color: $white_color;
  }
  &--animation {
    font-size: 45px;
    animation: colorchange 1.5s infinite alternate ease;
  }
  @keyframes colorchange {
    0% {
      color: $primaryColor;
    }

    100% {
      color: $secondaryColor;
    }
  }
}
