@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColumnStretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@mixin containImage {
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin removeBodyMargin {
  margin: -8px;
  padding: 20px;
}

@mixin blurShadow {
  box-shadow: 0px 10px 15px #c9c9c9;
}

@mixin blurStrongShadow {
  box-shadow: 0px 10px 15px #5b5b5b;
}
