$white_color: #ffffff;
$lighter_color: #f6f6f6;
$light_color: #eaeaea;
$neutral_color: #888;
$dark_color: #353535;
$darker_color: #1e1e1e;
$black_color: #000000;
$primaryColor: #9356dc;
$primaryColorLighten: lighten($primaryColor, $amount: 5%);
$secondaryColor: #ff79da;
$secondaryColorLighten: lighten($secondaryColor, $amount: 5%);
$tertiaryColor: #99e2d0;
